.chatroom-container {
  border: 1px solid rgba(0,0,0,0.3);
  margin-top: 20px;
  border-radius: 20px;
  width: 70vh;
  height: 75vh;
  text-align: center;
  position: relative;
  padding: 5px;
  overflow: auto;
}

.back-btn {
  a {
    position: absolute;
    z-index: 10;
    left: 20px;
    top: 10px;
  }
}

// .direct-messages {
//   position: relative;
// }

.current-user-content {
  background-color: $main;
  border-radius: 20px;
  padding: 0px 20px;
}

.other-user-content {
  background-color: $timberwolf;
  border-radius: 20px;
  padding: 0px 20px;
}

.author {
  display: flex;
  flex-direction: column;
}

.message-box {
  position: fixed;
  bottom: 10%;
  // border: 1px solid black;
  // padding-top: 20px;
  width: 95.6%;
  // background-color: white;
}
