.chatroom-container {
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  margin-top: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 70vh;
  height: 75vh;
  text-align: center;
  position: relative;
  padding: 5px;
  overflow: auto;
}

.back-btn {
  a {
    position: absolute;
    z-index: 10;
    left: 20px;
    top: 10px;
    color: rgba(58,51,53,0.65);
    border: 1px solid rgba(58,51,53,0.65);
    border-radius: 50px;
    padding-right: 18px;
    padding-left: 18px;
    &:hover {
      color: rgba(58,51,53,0.8)
    }
  }
}

// .direct-messages {
//   position: relative;
// }

.current-user-content {
  background-color: $main;
  border-radius: 20px;
  padding: 0px 15px;
}

.other-user-content {
  background-color: $timberwolf;
  border-radius: 20px;
  padding: 0px 15px;
}

.author {
  display: flex;
  flex-direction: row;
}

.message-box {
  position: fixed;
  bottom: 10%;
  width: 93.5%;
}
