.message-container {
  border-radius: 20px;
  text-align: center;
  margin-top: 20px;
  padding: 15px 0px;
  h1 { margin-bottom: 20px; }
  a {
    text-decoration: none;
    &:hover { text-decoration: none; }
  }
  .message-card {
    border: 1px solid $main;
    background-color: $cultured;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    color: $coffee;
    opacity: 1;
    position: relative;
    &:hover { background-color: rgba(246,140,107, 0.6); }
    h5 { font-weight: bolder; }
    .message-info {
      margin: 10px;
      p {
        margin: 0;
        font-size: smaller;
        width: max-content;
      }
    }
    .message-image {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
      margin: 10px;
    }
  }
}
