ul {
  list-style: none;
  padding-inline-start: 0px;
}

.profile-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logout-btn {
  border: 1px solid rgba(58,51,53,0.5);
  padding: 0px 36px;
  margin: 20px auto;
  color: rgba(58,51,53,0.5);
  border-radius: 20px;
  width: fit-content;
  &:hover {
    color: $coffee;
    border: 1px solid $coffee;
    opacity: 1;
  }
}

.profile-image {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}
