.show .picture {
  width: 100%;
  height: 50vh;
  background-size: contain;
}

.show-info {
  position: relative;
  @media(max-width: 700px) { width: 75%; }
  @media(min-width: 701px) { width: 50%; }
  background-color: white;
  padding: 8vh 4vw;
  top: -25vh;

  .fa-star {
    color: $teal;
    font-size: 30px;
  }

  .fa-user-alt {
    color: $teal;
    padding-right: 5px;
  }

  .fa-map-marker-alt {
    color: $main;
    padding-right: 5px;
  }

  .icons {
    float: right;
    margin: -30px 0px -30px -30px;
  }

  #creator {
    color: $teal;
    text-decoration: none;
    font-style: italic;
    opacity: .9;
    &:hover {
      color: $teal;
      text-decoration: none;
      opacity: 1;
    }
  }

  #attending { margin-bottom: 5px; }

  .avatar {
    padding: 5px;
    display: flex;
  }

  .avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
  }
}
