.show .picture {
  width: 100%;
  height: 100px;
  background-size: contain;
}
.show .info {
  position: absolute;
  width: 75%;
  left: 12%;
  bottom: -35vh;
  background-color: white;
}



#creator {
  color: $teal;
  text-decoration: none;
  font-style: italic;
  opacity: .9;
  &:hover {
    color: $teal;
    text-decoration: none;
    opacity: 1;
  }
}

.icons {
  float: right;
  margin: -30px -25px -10px 0px;
}

.show .fa-star {
  color: $teal;
  font-size: 30px;
}
