<div class="">
  <div class="container">
    <h1>My Messages</h1>
    <ul class="message-card">
      <% @chatrooms.each do |chatroom| %>
        <%= link_to chatroom_path(chatroom) do %>
          <%= cl_image_tag chatroom.other(current_user).photo.key, class: 'message-image'%>
          <%= chatroom.other(current_user).name %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
