<div class="col-12 col-md-8 col-lg-6">
  <div class="p-5 shadow rounded-pill mt-5 text-center">
    <h1>My Messages</h1>
    <ul class="list-unstyled">
      <% @chatrooms.each do |chatroom| %>
        <li><%= link_to chatroom.other(current_user),  chatroom_path(chatroom), class: 'btn btn-flat btn-thin' %></li>
      <% end %>
    </ul>
  </div>
</div>
