<div id="footer">
  <ul>
    <li><%= link_to root_path do %>
      <i class="fas fa-home"></i>
    <% end %></li>
    <li><%= link_to chatrooms_path do %>
      <i class="far fa-envelope"></i>
    <% end %></li>
    <li><%= link_to profile_path(current_user.id) do %>
      <i class="far fa-user"></i>
    <% end %></li>
  </ul>
</div>
