<li data-user=<%= profile.id %>>
  <%= profile.email %>
  <% if current_user.is_following?(profile.id) %>
    <%= link_to "Unfollow", unfollow_user_path(profile.id), method: :post, remote: true %>
  <% else %>
    <%= link_to "Follow", follow_user_path(profile.id), method: :post, remote: true %>
  <% end %>
</li>
