<h1>Events</h1>
<div class= "main-container">
  <div class="col-12 col-lg-5">
    <%= render 'shared/mapbox' %>
  </div>
  <div class="row">
    <div class="col-12 col-lg-11">
      <%= render 'shared/filter-form' %>
    </div>
    <div class="col-12 col-lg-11">
      <div class="index-card">
        <ul>
          <% @events.each do |event| %>
            <li></li><%= render "shared/card-event", event: event %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
