.btn-ghost {
  color: $coffee;
  border: 1px solid $coffee;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  height: fit-content;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: $cultured;
  padding: 8px 24px;
  border-radius: 50px;
  background: $main;
  opacity: 0.9;
  transition: background 0.3s ease;
}

.btn-thin {
  padding: 2px 24px !important;
}

.btn-flat:hover {
  color: $white;
  opacity: 1;
}

.btn-gradient {
  color: $cultured;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: $cultured;
}

.submit-btn {
  width: 632.8px;
}
