@mixin bottom {
  position: absolute;
  right: 0;
  left: 0;
}

.index-card {
  overflow: hidden;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 500px;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 20px;
  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
  }
  .index-card-main {
    @include bottom();
    bottom: 20%;
    display: flex;
    align-items: flex-end;
    padding: 15px 30px;
    color: $coffee;
    span {
      margin-right: 20px;
    }
    i {
      margin-right: 10px;
    }
  }
  .index-card-event {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 20px;
    @include bottom();
    bottom: 0;
    .index-card-info img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-position: center;
      object-fit: cover;
      margin-right: 10px;
    }
    .category {
      display: inline-block;
      font-size: 0.7rem;
      border-radius: 50rem;
      padding: 0.1rem 0.5rem;
      background-color: $cultured;
      color: $teal;
      border: 1px solid $teal;
      margin-right: 0.6rem;
      margin-bottom: 0.4rem;
    }
    h2 {
      color: $coffee;
      font-size: 1.2rem;
    }
    p {
      color: $coffee;
      font-size: 0.8rem;

    }
  }
  .index-card .picture {
    height: 100%;
  }
  .index-card .picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
