.card-small {
  border-radius: 10px;
  height: 400px;
  width: 100%;
  background-color: white;
  margin: 16px 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
  }

  .image {
    width: 100%;
    height: 168px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex: 3;
    padding: 18px 18px;
  }
}
