.card-a{
  text-decoration: none;
  color: $coffee;
  &:hover {
    text-decoration: none;
    color: $coffee;
  }
}

.card-event {
  border-radius: 12px;
  height: 200px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.card-event img {
  width: 175px;
  margin: 18px;
  border-radius: 12px;
}

.user-card-info h1{
  margin-top: 15px;
  font-size: 26px;
  font-weight: bold;
}

.user-card-info p {
  color: $coffee;
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 0px;
}

.category{
  padding: 4px;
  border: 2px solid $teal;
  color: $teal;
  border-radius: 12px;
  margin-bottom: 6px;
}

.date {
  padding: 24px;
  margin-right: 12px;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  flex: 3;
}
