.filter-card{
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 30px;
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: $cultured;
  color: $teal;
  border: 1px solid $teal;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: $teal;
  color: $cultured;
}

.hidden-filters {
  display: none;
}

#hide {
  padding-top: 5px;
  text-align: center;
}

.submit-btn {
  background-color: $teal;
  color: white;
  border-radius: 50px;
  padding: 8px 48px;
  opacity: 0.9;
  &:hover {
    color: white;
    opacity: 1;
  }
}
