/* FOR MOBILE */
@media(max-width: 700px) {
  #footer {
    background-color: $main;
    height: 10vh;
    margin-top: 100px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    i {
      color: $cultured;
      font-size: 40px;
    }
    ul {
      display: flex;
      margin: 0px;
      justify-content: space-between;
      align-items: center;
      padding-inline-start: 0px;
      flex-grow: 1;
    }
    li {
      text-decoration: none;
      display: inline;
      flex-grow: 1;
      text-align: center;
    }
  }
  .page {
    margin: 0px;
    margin-bottom: 10vh;
    justify-content: center;
  }
}

/* FOR TABLET & DESKTOP */
@media(min-width: 701px) {
  #footer {
    display: none;
  }
  .page {
    margin: 0px;
    justify-content: center;
  }
}
