/* FOR MOBILE */
@media(max-width: 600px) {
  #footer {
    background-color: #a5a3a3;
    height: 100px;
    padding: 20px 50px;
    margin-top: 100px;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
}

/* FOR TABLET & DESKTOP */
@media(min-width: 601px) {
  #footer {
    display: none;
  }
}

/* SO THE FOOTER DOESNT OVERLAP CONTENT */
#body {
  margin-bottom: 150px;
}
