
@mixin bottom {
  position: absolute;
  right: 0;
  left: 0;
}

.index-card {
  // background: url("https://images.unsplash.com/photo-1574007557239-acf6863bc375?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 500px;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 20px;
  .index-card-main {
    @include bottom();
    bottom: 20%;
    display: flex;
    align-items: flex-end;
    padding: 15px 30px;
    color: $coffee;
    span {
      margin-right: 20px;
    }
    i {
      margin-right: 10px;
    }
  }
.index-card-event {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  @include bottom();
  bottom: 0;
  .index-card-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    margin-right: 10px;
  }
.category {
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: $cultured;
  color: $teal;
  border: 1px solid $teal;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

h2 {
  color: $coffee;
  font-size: 1.2rem;
}
p {
  color: $coffee;
  font-size: 0.8rem;
}
// p b {
  //  font-style: italic;
  // }
}
}

.index-card .picture {
    height: 100%;
}

.index-card .picture img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  // .index-card {
  //   overflow: hidden;
  //   background: white;
  //   box-shadow: 0 0 15px rgba(0,0,0,0.2);
  //   width: 300px;
  //   height: 350px;
  // }

  // .index-card > img {
  //   height: 10px;
  //   width: 30px;
  //   // object-fit: cover;
  // }

  // .index-card h2 {
  //   font-size: 16px;
  //   font-weight: bold;
  //   margin: 0;
  // }

  // .index-card h4 {
  //   font-size: 14px;
  //   font-weight: bold;
  //   margin: 0;
  // }

  // .index-card p {
  //   font-size: 10px;
  //   opacity: .7;
  //   margin: 0;
  // }


  // .index-card .index-card-info {
  //   padding: 16px;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: flex-end;
  //   position: relative;
  // }

  // .index-card-info .index-card-user {
  //   position: absolute;
  //   right: 16px;
  //   top: -20px;
  //   width: 40px;
  // }
