.mapboxgl-popup-content {
  background: $cultured !important;
  text-align: center;
  border-radius: 35px;
  border: 1px solid rgba(246,140,107, 0.4);
  color: $coffee;
}

/* .mapboxgl-popup-ancher-center {
  border-top-color: 1px solid rgba(246,140,107, 0.4); } */


#map {
  border-radius: 10px;
  border: 3px solid rgba(246,140,107, 0.4);
  width: 100%;
  @media(max-width: 991px) {
    height: 50vh;
  }
  @media(min-width: 992px) {
    height: 80vh;
  }
}
