/* FOR MOBILE */
@media(max-width: 700px) {
  .navbar {
    display: none;
  }
}

/* FOR TABLET & DESKTOP */
@media(min-width: 701px) {
  .navbar {
    // background-color: $main;
    height: 10vh;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 2;
    i {
      color: $cultured;
      font-size: 40px;
    }
    ul {
      display: flex;
      margin: 0px;
      justify-content: flex-end;
      align-items: center;
      padding-inline-start: 0px;
      flex-grow: 1;
    }
    li {
      text-decoration: none;
      display: inline;
      text-align: center;
      padding: 0px 20px;
    }

  }
}
