/* FOR MOBILE */
@media(max-width: 700px) {
  .total-navbar {
    display: none;
  }
}

/* FOR TABLET & DESKTOP */
@media(min-width: 701px) {
  .total-navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $main;
  }

  .nav-btns {
    display: flex;
    .user-links {
      display: flex;
      li {
        &:hover {
          text-decoration: none;
          background-color: rgba(250,250,250,0.5);
          border-radius: 10px;
        }
      }
    }
    .user-login {
      position: absolute;
      right: 10px;
      a {
        &:hover {
          text-decoration: none;
          background-color: rgba(250,250,250,0.5);
          border-radius: 10px;
        }
      }
    }
  }

  .navbar-lewagon {
    // justify-content: space-between;
    // background: white;
    // opacity: 0.8;x
  }

  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-lewagon .navbar-brand img {
    width: 40px;
  }

  .nav-link {
    color: $white;
  }

  .nav-item {
    a {
      &:hover {
        color: white;
      }
    }
  }
}
