/* FOR MOBILE */
@media(max-width: 700px) {
  .total-navbar {
    display: none;
  }
}

/* FOR TABLET & DESKTOP */
@media(min-width: 701px) {
  .total-navbar {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .navbar-lewagon {
    justify-content: space-between;
    background: white;
    opacity: 0.8;

  }

  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-lewagon .navbar-brand img {
    width: 40px;
  }
}
