.new-event-card{
  padding: 40px 60px 40px 60px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.input-box {
  padding: 0px 20px 0px 20px;
}

.inline {
  display: flex;
  justify-content: space-around;
  padding-right: 10px;
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: $cultured;
  color: $teal;
  border: 1px solid $teal;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: $teal;
  color: $cultured;
}

.btn {
    width: 100%;
    margin: 20px;
  }
