// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';

// Your CSS partials
@import "components/index";
@import "pages/index";

body {color: $coffee;}
